<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TimberDraw.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TimberDraw.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <TimberDraw.Properties.Settings>
            <setting name="ToolTips" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HasJoinery" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DeletePolylines" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HasShoulder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EaveHt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Span" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RoofPitchRun" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RoofPitchRise" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BayWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Make3D" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FlrGirtHt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TrussType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BentNumber" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WallNumber" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BraceStrutPlacement" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HBHasPost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HBPostWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HBPostDepth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HBHasHbeam" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HBeamWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HBeamDepth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HBHasHPost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HPostWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HPostDepth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HBHasKPost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HBKPostWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HBKPostDepth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HBHasRafter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HBRafterWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HBRafterDepth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HBHasHBGirt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HBGirtWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HBGirtDepth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HBHasBrace" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HBBraceWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HBBraceDepth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HBBraceLength" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HBHasBayGirt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HBBayGirtWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HBBayGirtDepth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HBHasBGBrace" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HBBGBraceWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HBBGBraceDepth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HBBGBraceLength" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HBHasFlrGirt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HBFlrGirtWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HBFlrGirtDepth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HBFlrGirtHt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HBHasFlrBrace" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HBFlrBraceWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HBFlrBraceDepth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HBFlrBraceLength" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HBDivisor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KPHasPost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KPPostWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KPPostDepth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KPHasGirt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KPGirtWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KPGirtDepth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KPHasRafter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KPRafterWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KPRafterDepth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KPHasKPost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KPKpostWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KPKpostDepth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KPHasStrut" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KPStrutWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KPStrutAngle" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="KPBraceAngle" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="KPStrutDepth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KPHasVStrut" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KPVStrutWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KPVStrutDepth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KPHasBrace" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KPBraceWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KPBraceDepth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KPBraceLength" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KPHasFlrGirt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KPFlrGirtWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KPFlrGirtDepth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KPFlrGirtHt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KPHasFlrBrace" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KPFlrBraceWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KPFlrBraceDepth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KPFlrBraceLength" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QPHasPost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QPPostWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QPPostDepth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QPHasGirt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QPGirtWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QPGirtDepth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QPHasRafter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QPRafterWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QPRafterDepth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QPHasQPost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QPQPostWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QPQPostDepth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QPHasStrut" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QPStrutWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QPStrutDepth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QPHasQPGirt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QPQPGirtWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QPQPGirtDepth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QPHasBrace" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QPBraceWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QPBraceDepth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QPBraceLength" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QPHasQPBrace" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QPQPBraceWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QPQPBraceDepth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QPQPBraceLength" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QPHasFlrGirt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QPFlrGirtWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QPFlrGirtDepth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QPFlrGirtHt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QPHasFlrBrace" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QPFlrBraceWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QPFlrBraceDepth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QPFlrBraceLength" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KPTHasGirt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KPTGirtWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KPTGirtDepth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KPTHasRafter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KPTRafterWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KPTRafterDepth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KPTHasKpost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KPTKpostWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KPTKpostDepth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KPTHasStrut" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KPTStrutWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KPTStrutDepth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KPTHasVStrut" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KPTVStrutWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KPTVStrutDepth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QPTHasGirt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QPTGirtWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QPTGirtDepth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QPTHasRafter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QPTRafterWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QPTRafterDepth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QPTHasQpost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QPTQpostWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QPTQpostDepth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QPTHasStrut" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QPTStrutWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QPTStrutDepth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QPTHasQPGirt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QPTUpperGirtWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QPTUpperGirtDepth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QPTHasQPBrace" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QPTQPBraceWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QPTQPBraceDepth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QPTQPBraceLength" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HasRidge" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RidgeWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RidgeDepth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HasRidgeBrace" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RidgeBraceWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RidgeBraceDepth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RidgeBraceLength" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HasEaveGirt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EaveGirtWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EaveGirtDepth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HasEaveGirtBrace" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EaveGirtBraceWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EaveGirtBraceDepth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EaveGirtBraceLength" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HasPurlins" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PurlinWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PurlinDepth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HasCommons" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CommonWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CommonDepth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GenerateBayMembers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HasFlrGirt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FlrGirtWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FlrGirtDepth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HasFlrGirtBrace" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FlrGirtBraceWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FlrGirtBraceDepth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FlrGirtBraceLength" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RoofLoad" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AllowableDeflection" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Emod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BaySchedule" serializeAs="String">
                <value>96,144</value>
            </setting>
            <setting name="CommonMode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CommonCount" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="CommonSpacing" serializeAs="String">
                <value>48</value>
            </setting>
            <setting name="PurlinMode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PurlinCount" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="PurlinSpacing" serializeAs="String">
                <value>48</value>
            </setting>
            <setting name="FrameSpecJson" serializeAs="String">
                <value />
            </setting>
            <setting name="TimberSections" serializeAs="String">
                <value>Post:8:8,Girt:6:8,Rafter:5:7,Brace:4:6</value>
            </setting>
            <setting name="CurrentSection" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BraceSpec" serializeAs="String">
                <value>18:18:FH</value>
            </setting>
            <setting name="RoughInType" serializeAs="String">
                <value>KingPost</value>
            </setting>
            <setting name="DefaultFramePath" serializeAs="String">
                <value />
            </setting>
            <setting name="TypeDefaultsJson" serializeAs="String">
                <value />
            </setting>
            <setting name="TemplateLibraryJson" serializeAs="String">
                <value />
            </setting>
            <setting name="JointDefaultsJson" serializeAs="String">
                <value />
            </setting>
        </TimberDraw.Properties.Settings>

    </userSettings>
<startup><supportedRuntime version="v4.8" sku=".NETFramework,Version=v4.8"/></startup></configuration>
